.container {
    width: 25%;
    border-radius: 12px;
    background: var(--color-white);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 65px;
    border-bottom: 1px solid var(--color-gray);
}

.title {
    font-weight: 600;
    line-height: 19px;
    text-transform: uppercase;
    padding: 24px;
}

.tasks {
    padding: 24px;
}