.container {
  width: 100vw;
  height: 100vh;
  background: #F4F5F7;
  color: #242325;
  font-size: 12px;
  padding: 1%;
  box-sizing: border-box;
}

.main {
  min-height: 90%;
  display: flex;
  flex-direction: row;
}