:root {
    --color-gray: #F4F5F7;
    --color-white: #FFFFFF;
    --color-blocked: #AEB5C1;
    --color-blue: #0165FF;
    --color-gray-dark: #6B778C;
    /* */
    --font-main : 'Poppins', sans-serif;
}